.square {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: blue;
  text-align: center;
}

.sqr {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: blue;
  text-align: center;
}
.btn {
  display: block;
  background-color: red;
  border: solid 2px black;
  cursor: pointer;
  width: 50%;
  height: 30px;
  margin: 0 auto;
  box-sizing: border-box;
  float: left;
}
.counter {
  display: block;
  width: 100%;
  background-color: yellow;
}
